@model Eval3ProgAvanzada.Models.Herramienta
@{
    ViewData["Title"] = "Crear herramienta";
}

<h2>Crear Herramienta</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="NumeroSerie" class="control-label"></label>
        <input asp-for="NumeroSerie" class="form-control" />
        <span asp-validation-for="NumeroSerie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModeloId" class="control-label">Modelo</label>
        <select asp-for="ModeloId" class="form-control" asp-items="ViewBag.Modelos"></select>
        <span asp-validation-for="ModeloId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Marca" class="control-label"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estado" class="control-label"></label>
        <input asp-for="Estado" class="form-control" />
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
<a asp-action="Index">Regresar</a>
