@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sección del Logo -->
        <div class="col-md-2 p-3">
            <div class="border mb-3 text-center p-3">
                <h5>LOGO</h5>
            </div>
        </div>

        <!-- Sección del Menú de Navegación -->
        <div class="col-md-10 p-3">
            <div class="border text-center p-3">
                <h5>MENÚ DE NAVEGACIÓN</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Barra lateral con información de herramientas -->
        <div class="col-md-2 p-3">
            <div class="border p-3 mb-3">
                <h6>TOTAL DE HERRAMIENTAS</h6>
                <ul class="list-unstyled">
                    <li>- DISPONIBLES</li>
                    <li>- EN USO</li>
                    <li>- EN MANTENCIÓN</li>
                </ul>
            </div>
            <div class="border p-3 text-center">
                <img src="https://via.placeholder.com/100" alt="Gráfico" class="img-fluid">
            </div>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-10 p-3">
            <div class="border p-3" style="height: 100%;">
                <h5>Contenido Principal</h5>
                <!-- Aquí puedes agregar el contenido principal de la página -->
            </div>
        </div>
    </div>
</div>
